<!DOCTYPE html>
<html lang="en" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
<head style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
<meta charset="UTF-8" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
<meta http-equiv="X-UA-Compatible" content="IE=edge" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
<meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
<title style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">Kriya'21</title>
</head>
<body style='box-sizing:border-box;line-height:1.8em;letter-spacing:1px;margin:0;padding:2.5em;color:white;overflow-x:hidden;background-color:#18191B;font-family:"Dosis", sans-serif;scrollbar-color:#eb168183 white;font-size:14px;'>
    <main style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
        <div class="header" style="box-sizing:border-box;letter-spacing:1px;width:100%;margin-bottom:3em;text-align: center;">
            <img src="https://kriya-2f461.web.app/kriya.png" alt style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;width:100px;">
        </div>
 
        <div class="body" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;width:100%;margin:auto;margin-bottom:3em;font-size:14px;text-align:justify;">
            <p style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
                <b style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">Dear KRIYA&rsquo;21 Participant,</b><br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"><br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"> &emsp; Greetings from Team KRIYA! Greetings from Team KRIYA! Thank You for being a part of KRIYA&rsquo;21 You have successfully registered for <em style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:rgb(130, 82, 206);font-weight:bold;font-style:normal;">{{eventName}}</em>. Kindly check your dashboard for
                joining the event on its specified date. We look forward for your enthusiastic participation in this edition of KRIYA !!!<br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"><br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"> Regards,
 
                <br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"> Students Union,<br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"> PSG College of Technology,<br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;"> Coimbatore.
            </p>
        </div>
 
        <div class="follow" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
            <p style='box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:rgb(170, 170, 170);text-align:center;font-family:"Dosis", sans-serif;'>
                Please follow us on social media.<br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">Look into our website <a href="https://kriya.psgtech.ac.in" target="_blank" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:white;text-decoration:none;">"kriya.psgtech.ac.in"</a> for the latest developments in KRIYA'21
            </p>
        </div>
 
 
        <div class="social-media-icons" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;height:100px;padding:20px;padding-bottom:1em;background-color:#18191B;text-align: center;">
            <a href="https://www.facebook.com/psgkriya/" target="_blank" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:black;text-decoration:none;width:45px;height:45px;border-radius:50%;margin-left:6px;margin-right:5px;font-size:18px;transition:.5s;background-color:rgba(255, 255, 255, 0.6);padding: 12.5px;"><img src="https://kriya-2f461.web.app/facebook.png" alt style="box-sizing:border-box;width:19px;margin:auto;display: inline-block;vertical-align: middle;"></a>
            <a href="https://instagram.com/kriya_psgtech?igshid=1448hkeq83he" target="_blank" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:black;text-decoration:none;width:45px;height:45px;border-radius:50%;margin-left:6px;margin-right:5px;font-size:18px;transition:.5s;background-color:rgba(255, 255, 255, 0.6);padding: 12.5px;"><img src="https://kriya-2f461.web.app/instagram.png" alt style="box-sizing:border-box;width:19px;margin:auto;display: inline-block;vertical-align: middle;"></a>
            <a href="https://www.youtube.com/channel/UC3p_a8g876d50MxI7Kg5cMw" target="_blank" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:black;text-decoration:none;width:45px;height:45px;border-radius:50%;margin-left:6px;margin-right:5px;font-size:18px;transition:.5s;background-color:rgba(255, 255, 255, 0.6);padding: 12.5px;"><img src="https://kriya-2f461.web.app/youtube.png" alt style="box-sizing:border-box;width:19px;margin:auto;display: inline-block;vertical-align: middle;"></a>
        </div>
 
        <div class="footer" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">
            <p style='box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:rgb(170, 170, 170);text-align:center;font-family:"Dosis", sans-serif;'>
                Do not reply back to this mail.<br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">For queries, Please reach us through <a href="mailto:helpdesk@psgkriya.in" target="_blank" style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;color:white;text-decoration:none;">"helpdesk@psgkriya.in"</a>
                <br style="box-sizing:border-box;line-height:1.8em;letter-spacing:1px;">In case you have received this mail without registration, kindly ignore this mail.
            </p>
        </div>
    </main>
</body>
</html>